{% extends 'base-index.html' %}
{% block title %}Admin-login{% endblock %}
    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-10 mx-auto">
                <h3 class="text-center custom-h3">Admin Login</h3>
                {% include 'messa.html' %}
                <form method="POST">
                  {% csrf_token %}
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" required>
                      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" name="password" required>
                    </div>
                    
                    <button type="submit" class="btn btn-success">Submit</button>
                  </form>
            </div>
        </div>
    </div>
    {% endblock %}
