{% extends 'admin-base.html' %}
{% block title %}view-candidates{% endblock %}
{% block content %}
{% load static %}
<div class="container">
    <h3 class="text-center custom-h3">Available candidates are :</h3>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Party image</th>
            <th scope="col">Party name</th>
            <th scope="col">Address</th>
            <th scope="col">Election name</th>
          </tr>
        </thead>
        <tbody>
            {% for candidate_obj in candidate_objs %}
          <tr>
           
            <td><img src="{{candidate_obj.candidate_img.url}}" alt="" style="width: 130px; height: 130px;"></td>
            <td>{{candidate_obj.name}}</td>
            <td><img src="{{candidate_obj.party_img.url}}" alt="" style="width: 130px; height: 130px;"></td>
            <td>{{candidate_obj.party_name}}</td>
            <td>{{candidate_obj.address}}</td>
            <td>{{candidate_obj.election_name.election_name}}</td>
        </tr>
          {% endfor %}
        </tbody>
      </table>
    
</div>
{% endblock %}